apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: fashion-app
spec:
  type: NodePort
  selector:
    app: fashion-frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP