apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: fashion-app
spec:
  clusterIP: None  # Headless service
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432
    name: postgres