apiVersion: apps/v1
kind: Deployment
metadata:
  name: fashion-backend
  namespace: fashion-app
  labels:
    app: fashion-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fashion-backend
  template:
    metadata:
      labels:
        app: fashion-backend
    spec:
      containers:
      - name: backend
        image: kikisrbinoska/fashion-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_PROFILES_ACTIVE
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: SPRING_PROFILES_ACTIVE
        - name: SPRING_DATASOURCE_URL
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: SPRING_DATASOURCE_URL
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: username
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: password
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"